<% include ../panels/header %>

<div class="container">
    <h2></h2>
    <br/>

    <div id="categories" class="column categories">
        <img src="assets/img/loading.gif"/>
    </div>

    <div id="goods" class="column">
        Список категорий
    </div>
</div>

<% include ../panels/footer %>

